body.grey {
    background-color: #808080;
    height: 100vh;
}

body.questionnaire {
    max-width: 50em;
    margin: auto;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.instruction {
    flex: 0 1 auto;
    text-align: center;
}

.question {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    margin: 20px;
}